source_if_exists () {
    if test -r "$1"; then
        source "$1"
    fi
}

export CORE_DIR="$HOME/.config/shells/zsh"
source_if_exists $CORE_DIR/path.zsh
source_if_exists $CORE_DIR/config.zsh
source_if_exists $CORE_DIR/aliases.zsh