DON'T UPLOAD THIS FILE TO THE REMOTE SERVER. DON'T COMMIT THIS FILE TO THE PROJECT REPOSITORY. COPY DETAILS TO A SECURE LOCATION BEFORE DELETING.

Database Name: {{ db_name }}
Database User: {{ db_user }}
Database Password: {{ db_password }}
Wordpress Admin Name: {{ project_name_cleaned }}_admin
Wordpress Admin Password: {{ wp_user_password }}
Your Wordpress Installation Location: {{ project_path.path }}

Run your local development server with the following command:

wp server --host='{{ project_url }}' --docroot='{{ project_path.path }}'