DON'T UPLOAD THIS FILE TO THE REMOTE SERVER. DON'T COMMIT THIS FILE TO THE PROJECT REPOSITORY. COPY DETAILS TO A SECURE LOCATION BEFORE DELETING.

Database Name: {{ db_name }}
Database User: {{ db_user }}
Database Password: {{ db_password }}
Your Installation Location: {{ project_path.path }}